<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer Dashboard</title>
</head>
<body>
    <app-topbar-with-logo-and-search-bar></app-topbar-with-logo-and-search-bar>
    <main>
        <div class="greeting">
            Hello Aditya Singh!
        </div>
        <div class="sub-greeting">
            How may I help you?
        </div>
        <div class="option-cards">
            <mat-card class="option-card" appearance="outlined">
                <mat-card-content>
                    <mat-icon>gavel</mat-icon>
                    <div class="card-title">File a case</div>
                    <div class="card-description">Register a case for a user.</div>
                </mat-card-content>
            </mat-card>
            <mat-card class="option-card" appearance="outlined">
                <mat-card-content>
                    <mat-icon>search</mat-icon>
                    <div class="card-title">Search a Lawyer</div>
                    <div class="card-description">Find experienced legal professionals to assist with your case.</div>
                </mat-card-content>
            </mat-card>
            <mat-card class="option-card" appearance="outlined">
                <mat-card-content>
                    <mat-icon>forum</mat-icon>
                    <div class="card-title">Online Forum</div>
                    <div class="card-description">Join discussions with experts and peers on various legal topics.</div>
                </mat-card-content>
            </mat-card>
            
            <mat-card class="option-card" appearance="outlined">
                <mat-card-content>
                    <mat-icon>chat</mat-icon>
                    <div class="card-title">AI Legal Assistance</div>
                    <div class="card-description">Get instant legal advice powered by AI technology.</div>
                </mat-card-content>
            </mat-card>
            
        </div>
    </main>
</body>
</html>